*
!.gitignore

!adaptive_filter/
!adaptive_filter/**/
!adaptive_filter/**/*.py

!adaptive_filters/
!adaptive_filters/*.py
!adaptive_filters/*.pyi

!tests/
!tests/**/
!tests/**/*.py

!src/
!src/**/
!src/**/*.rs

!examples/
!examples/**/
!examples/**/*.rs

!Cargo.toml
!Cargo.lock

# uv
!pyproject.toml
!uv.lock

# docs
!*.md
!LICENSE-APACHE
!LICENSE-MIT

# ci/cd
!.github/
!.github/**/
!.github/**/*.yml
!.github/**/*.md
!.pre-commit-config.yaml

# explitic excludes
**/__pycache__/
