*
!.gitignore

!adaptive_filter/
!adaptive_filter/**/
!adaptive_filter/**/*.py

!tests/
!tests/**/
!tests/**/*.py

!rust/
!rust/src/
!rust/src/**/
!rust/src/**/*.rs

!rust/examples/
!rust/examples/**/
!rust/examples/**/*.rs

!rust/Cargo.toml
!rust/Cargo.lock

# uv
!pyproject.toml
!uv.lock

# docs
!*.md
!LICENSE-APACHE
!LICENSE-MIT

# ci/cd
!.github/
!.github/**/
!.github/**/*.yml
!.github/**/*.md
!.pre-commit-config.yaml
!safety-policy.yml

# static analysis / linting
!pyrightconfig.json
!setup.cfg

# explitic excludes
**/__pycache__/
